*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
    background-image: radial-gradient(circle, #82a0aa, #677380, #4b4a54, #2a272a, #000000);
  }
  
  .inner {
    display: contents;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Whatever width you want */
  }

  .inner h1{
      padding: 0.75em;
      font-family: 'Fascinate', cursive;
      color: #fff;
  }
  
  .click a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px
  }
  
  .click a:hover {
    background: #012224;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.3);
  }
  
  .click a span {
    position: absolute;
    display: block;
  }
  
  .click a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 2s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .click a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .click a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .click a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50vh;
  }

  .modal-content p{
      padding: 1.5em;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      font-size: 2.5em;
  }

  .btns{
      padding: 0 3em;
      margin-top: 7.5%;
      
  }

  .btns button{
      width: 5em;
      height: 2.5em;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      font-size: 1em;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }